*{
  background-color: rgb(53, 73, 53);
}

.App{
  display: flex;
  justify-content: center;
  margin-top: 33vh;
  
}

.drum-pads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 13px;
  font-size: 20px;
  padding: 35px;
}

.drum-pad{
  border: 2px solid rgb(167, 167, 167);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  color: rgb(212, 212, 212);
  background-color: rgb(23, 34, 23);
  cursor: pointer;
  box-shadow: 3px 3px 1px 0px rgb(167,167,167,10);
}

.drum-pad:hover{
  background-color: rgb(4, 15, 4);
}

.drum-pad:active{
  transform: translateY(3px);
  box-shadow: 3px 3px 0px 0px rgb(48, 48, 48);
  background-color: rgb(131, 130, 86);
}

#drum-machine{
  background-color: rgb(78, 105, 78);
  border: 4px double white;
  width: 900px;
  height: 450px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

#display-key{
  color: rgb(212, 212, 212);
  font-size: 30px;
  display: flex;
  justify-content: center;
  background-color: rgb(4, 15, 4);
} 

/*border: 2px solid rgb(212, 212, 212);*/